/* Hero Section */
.hero {
  height: 100vh;
  /* background: linear-gradient(to right, #141E30, #243B55); */
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('image.webp') center/cover no-repeat;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.hero p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.hero .btn {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 50px;
}

/* Features Section */
/* Features Section */
.features {
  min-height: 100vh;
  background: #f8f9fa;
  padding: 60px 20px;
  text-align: center;
}

.features h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #333;
}

/* Grid Layout for Feature Cards */
.feature-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Individual Feature Card */
.feature-cards .card {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s, box-shadow 0.3s;
}

.feature-cards .card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-cards .card h3 {
  color: #333;
  margin-bottom: 15px;
  font-size: 1.5em;
}

.feature-cards .card p {
  color: #666;
  flex-grow: 1;
  margin-bottom: 10px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .feature-cards {
    grid-template-columns: 1fr;
  }
}


/* About Us Section */
.about {
  min-height: 100vh;
  background: #e9ecef;
  padding: 200px 20px;
  text-align: center;
}

/* Footer */
.footer {
  background: #1a1a1a;
  color: #bbbbbb;
  text-align: center;
  padding: 20px;
  font-size: 0.9em;
}

.footer p {
  margin: 0;
}

.about h2 {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
}

.about p {
  color: #555;
  font-size: 1.2em;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.btn-success a {
  color: white;
  text-decoration: none;
}

.btn-success a:hover {
  color: #eaeaea;
}

