.navbar-brand {
  font-weight: bold;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
  color: #fff !important;
}

.logo-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.nav-link {
  color: #bbb !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #fff !important;
}
